body {
  background-color: #242424;
  color: #ffffff;
  font-family: 'Libre Bodoni', serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.title-wrapper {
  position: sticky;
  background: linear-gradient( to bottom, #242424 60%, #242424a9 80%, #24242400 100%);
  z-index: 1000;
  padding: 1rem 2rem;
}

header {
  padding-top: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.site-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  transition: filter 0.3s ease;
}

.card-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 4rem 0;
  padding: 20px;
}

.card {
  background-color: #484848;
  color: white;
  font-size: 1.1rem;
  font-family: 'Libre Bodoni', serif;
  text-decoration: none;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  flex-shrink: 0;
}

.card:hover {
  transform: scale(1.02);
}

footer {
  text-align: center;
  padding: 1rem;
  gap: 24px;
  font-size: 0.9rem;
  position: bottom;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.writeup {
  width: 900px;
  height: 100px;
}