@import url(base.css);

.nav-disabled {
    display: inline-block;
    font-size: 1.1rem;
    color: white;
    font-weight: 500;
    text-decoration: none;
    cursor: default;
}

.back-arrow {
    position: sticky;
    top: 60px;
    left: 20px;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    opacity: 0.7;
    z-index: 2;
    transition: opacity 0.2s ease;
}

.back-arrow:hover {
    opacity: 1;
}

.markdown-card {
    background: #222222f7;
    border-radius: 15px;
    margin: 5rem auto;
    padding: 3rem;
    position: relative;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    padding-left: 80px;
    padding-right: 60px;
    z-index: 1000;
    margin: 50px 50px 50px 50px;
    backdrop-filter: blur(3px);
}

.markdown-card h1,
.markdown-card h2,
.markdown-card h3,
.markdown-card p,
.markdown-card li {
    color: rgb(255, 255, 255);
}

.markdown-card pre {
    background-color: #22222243;
    padding: 1rem;
    border-radius: 8px;
    overflow-x: auto;
}

.markdown-card code {
    font-family: 'Courier New', monospace;
    font-size: 0.95rem;
}

#markdown-content {
    font-family: 'Times New Roman', Times, serif;
    padding-left: 80px;
    padding-right: 60px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1px;
}

pre code {
    background-color: #00000000;
}

.hljs {
    background: #00000000;
    border-left: 2px solid #ccc;
    border-radius: 7px;
    overflow-x: auto;
    font-size:large;
}